#erase {
    background-color:rgb(235, 216, 154);
    color:peru(58, 35, 9);
    border: 2px solid sandybrown;
    border-radius: 10px;
    font-size: 20px;
    font-family: Gill Sans;
    padding: 10px ;
  }

  button {
    background-color:lavender;
    color:green(58, 35, 9);
    border: 2px solid navy;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
    padding: 10px ;
  }

  #pet_1, #next {
    background-color:rgb(224, 101, 159);
    color: white;
    border: 2px solid rgb(148, 87, 122);
    border-radius: 10px;
    font-size: 20px;
    font-family: Gill Sans;
    padding: 10px ;
  }
  
  .text-center {
    text-align: center;
  }

  @import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
}

textarea, input {
    color: darkred;
    font-size: 20px;
}

input{
     border-width: 1px;
     border-color: deepskyblue;
     text-align:top;
}

h1, p, h5{
    color:navy;
    font-family:cursive;
}

#banner{ 
    background-color:lavender ;
    text-align: center;
    padding: 2rem;
}

#pet{
    background-color: rgb(243, 232, 234);
    text-align: center;
    padding: 2rem;
}

#draw
{
    background-color: rgb(204, 250, 225);;
    text-align: center;
    padding: 2rem;
}

#journal{
    background-color: rgb(250, 243, 204);
    text-align: center;
    padding: 2rem;
    color:peru;
}

#affirmations{
    background-color: rgb(185, 226, 238);
    text-align: center;
    padding: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#c71585;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#da1d81;
}

li a.active {
  color: white;
  background-color: #f49ac2
;
}

.btn-group {
  display: block;
  margin: 0 auto;
  justify-content: center;
}