@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #e6e6fa;
  color:navy;
}


div
{
	text-align:center;
}

.img-preview
{
	width:300px;
	height:300px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#c71585;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#da1d81;
}

li a.active {
  color: white;
  background-color: #f49ac2
;
}

.btn-group {
  display: block;
  margin: 0 auto;
  justify-content: center;
}